$light-weight:300;
$regular-weight:400;
$bold-weight:700;

$text-primary:#3f3f3f;
$text-paragraph:#222222;
$text-header:#838484;

$coffee-background: #eff1f1;
$header-background:#f7f9f9;
$footer-background:#33393f;

html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;

  
}
